In [318]:
import pandas as pd
import numpy as np
import random

In [319]:
#ì—¬ëŸ¬ë³€ìˆ˜ì¶œë ¥ì½”ë“œ
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [ ]:
# --- 1. ì²« ë²ˆì§¸ DataFrame (ê³ ê° ì •ë³´) ìƒì„± ---

df1 = pd.DataFrame({ # ê³ ê°ë²ˆí˜¸ì™€ ì´ë¦„ ì •ë³´ê°€ ë‹´ê¸´ DataFrame df1ì„ ìƒì„±í•©ë‹ˆë‹¤.
    'ê³ ê°ë²ˆí˜¸' : [1001, 1002, 1003, 1004, 1005, 1006, 1007], # 7ëª…ì˜ ê³ ê° ë²ˆí˜¸
    'ì´ë¦„' : ['ë‘˜ë¦¬', 'ë„ìš°ë„ˆ', 'ë˜ì¹˜', 'ê¸¸ë™', 'í¬ë™', 'ë§ˆì´ì½œ', 'ì˜í¬'] # 7ëª…ì˜ ê³ ê° ì´ë¦„
    }, columns=['ê³ ê°ë²ˆí˜¸', 'ì´ë¦„']) 

print(df1)
# df1ì˜ ë‚´ìš©: ê³ ê°ë²ˆí˜¸ 1001~1007

   ê³ ê°ë²ˆí˜¸   ì´ë¦„
0  1001   ë‘˜ë¦¬
1  1002  ë„ìš°ë„ˆ
2  1003   ë˜ì¹˜
3  1004   ê¸¸ë™
4  1005   í¬ë™
5  1006  ë§ˆì´ì½œ
6  1007   ì˜í¬

In [ ]:
# --- 2. ë‘ ë²ˆì§¸ DataFrame (êµ¬ë§¤ ë‚´ì—­) ìƒì„± ---

df2 = pd.DataFrame({ # ê³ ê°ë²ˆí˜¸ì™€ êµ¬ë§¤ ê¸ˆì•¡ ì •ë³´ê°€ ë‹´ê¸´ DataFrame df2ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.
    'ê³ ê°ë²ˆí˜¸':[1001, 1001, 1005, 1006, 1008, 1001], # ê³ ê°ë²ˆí˜¸ 1008ì€ df1ì— ì—†ëŠ” ìƒˆë¡œìš´ ê³ ê°ì…ë‹ˆë‹¤.
    'ê¸ˆì•¡' : [10000, 20000, 15000, 5000, 100000, 30000] # ê³ ê°ë³„ êµ¬ë§¤ ê¸ˆì•¡
}, columns=['ê³ ê°ë²ˆí˜¸', 'ê¸ˆì•¡'])

print(df2)
# df2ì˜ ë‚´ìš©: ê³ ê°ë²ˆí˜¸ 1001ì´ ì—¬ëŸ¬ ë²ˆ ë“±ì¥í•˜ê³ , 1008ì´ í¬í•¨ë¨.

   ê³ ê°ë²ˆí˜¸      ê¸ˆì•¡
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

In [322]:
# --- 3. ë°ì´í„° í™•ì¸ ---

print(df1.head(1)) # df1ì˜ ì²« í–‰ ì¶œë ¥
print(df2.head(1)) # df2ì˜ ì²« í–‰ ì¶œë ¥
# ë‘ dfì˜ ê³µí†µì—´(ê°™ì€ ì´ë¦„ì„ ê°–ëŠ” ì»¬ëŸ¼) : ê³ ê°ë²ˆí˜¸ # ì£¼ì„: ë³‘í•©ì˜ ê¸°ì¤€ í‚¤ê°€ ë  ê³µí†µ ì—´ì„ í™•ì¸í•©ë‹ˆë‹¤.

   ê³ ê°ë²ˆí˜¸  ì´ë¦„
0  1001  ë‘˜ë¦¬
   ê³ ê°ë²ˆí˜¸     ê¸ˆì•¡
0  1001  10000

In [ ]:
# --- 4. DataFrame ë³‘í•© (Merge) ---

# mergeëŠ” SQLì˜ JOINê³¼ ìœ ì‚¬í•˜ë©°, ë‘ í…Œì´ë¸”(DataFrame)ì„ ê³µí†µ Keyë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ì¹˜ëŠ” ì‘ì—…ì…ë‹ˆë‹¤.
# Key= ìƒëµí•˜ë©´ ê³µí†µì—´('ê³ ê°ë²ˆí˜¸')ì„ ê¸°ì¤€ìœ¼ë¡œ "inner join"ì´ ì‹¤í–‰ë©ë‹ˆë‹¤. (ê°€ì¥ ì¼ë°˜ì ì¸ ë³‘í•©)

# df1.merge(df2) # df1ì˜ ë©”ì„œë“œë¡œ df2ë¥¼ ì¸ìë¡œ ë°›ì•„ ë³‘í•©í•©ë‹ˆë‹¤. (ê°ì²´ ë©”ì„œë“œ ë°©ì‹)
print(df1.merge(df2))
# pd.merge(df1,df2) # pandas ëª¨ë“ˆ í•¨ìˆ˜ë¡œ df1, df2ë¥¼ ì¸ìë¡œ ë°›ì•„ ë³‘í•©í•©ë‹ˆë‹¤. (ëª¨ë“ˆ í•¨ìˆ˜ ë°©ì‹)
print(pd.merge(df1, df2))

# ğŸ“Œ inner join (ë‚´ë¶€ ì¡°ì¸) ê²°ê³¼ ì›ì¹™:
# 1. ë³‘í•© ê¸°ì¤€ì¸ 'ê³ ê°ë²ˆí˜¸'ê°€ "ë‘ DataFrame ëª¨ë‘ì— ì¡´ì¬í•˜ëŠ” í–‰"ë§Œ ê²°ê³¼ì— í¬í•¨ë©ë‹ˆë‹¤.
#  - df1ì—ë§Œ ìˆëŠ” ê³ ê°(1002, 1003, 1004, 1007)ì€ ì œì™¸ë©ë‹ˆë‹¤.
#  - df2ì—ë§Œ ìˆëŠ” ê³ ê°(1008)ì€ ì œì™¸ë©ë‹ˆë‹¤.
# 2. df2ì—ì„œ 'ê³ ê°ë²ˆí˜¸' 1001ì€ 3ë²ˆ ë“±ì¥í•˜ë¯€ë¡œ, "1001 ê³ ê°ì˜ ì •ë³´('ë‘˜ë¦¬')ëŠ” 3ë²ˆ ë°˜ë³µ"ë˜ì–´ ë‚˜íƒ€ë‚©ë‹ˆë‹¤.

   ê³ ê°ë²ˆí˜¸   ì´ë¦„     ê¸ˆì•¡
0  1001   ë‘˜ë¦¬  10000
1  1001   ë‘˜ë¦¬  20000
2  1001   ë‘˜ë¦¬  30000
3  1005   í¬ë™  15000
4  1006  ë§ˆì´ì½œ   5000
   ê³ ê°ë²ˆí˜¸   ì´ë¦„     ê¸ˆì•¡
0  1001   ë‘˜ë¦¬  10000
1  1001   ë‘˜ë¦¬  20000
2  1001   ë‘˜ë¦¬  30000
3  1005   í¬ë™  15000
4  1006  ë§ˆì´ì½œ   5000

In [ ]:
# --- 5. Outer Join (ì „ì²´ ë³‘í•©) ---

# "how='outer'": "ë‘ DataFrameì˜ ëª¨ë“  'ê³ ê°ë²ˆí˜¸'"ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©í•©ë‹ˆë‹¤.
# df1ì—ë§Œ ìˆëŠ” ê³ ê°(1002, 1003, 1004, 1007)ì€ df2ì˜ 'ê¸ˆì•¡' ì—´ì— "NaN"ì´ ì±„ì›Œì§‘ë‹ˆë‹¤.
# df2ì—ë§Œ ìˆëŠ” ê³ ê°(1008)ì€ df1ì˜ 'ì´ë¦„' ì—´ì— "NaN"ì´ ì±„ì›Œì§‘ë‹ˆë‹¤.
print(pd.merge(df1, df2, how='outer'))

   ê³ ê°ë²ˆí˜¸   ì´ë¦„        ê¸ˆì•¡
0  1001   ë‘˜ë¦¬   10000.0
1  1001   ë‘˜ë¦¬   20000.0
2  1001   ë‘˜ë¦¬   30000.0
3  1002  ë„ìš°ë„ˆ       NaN
4  1003   ë˜ì¹˜       NaN
5  1004   ê¸¸ë™       NaN
6  1005   í¬ë™   15000.0
7  1006  ë§ˆì´ì½œ    5000.0
8  1007   ì˜í¬       NaN
9  1008  NaN  100000.0

In [ ]:
# --- 6. Left/Right Join (ê¸°ì¤€ í…Œì´ë¸” ë³‘í•©) ---

# how='left'ëŠ” "df1 (ì™¼ìª½ í…Œì´ë¸”)"ì˜ ëª¨ë“  'ê³ ê°ë²ˆí˜¸'ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©í•©ë‹ˆë‹¤.
# (df1ì˜ ëª¨ë“  ê³ ê°(1001~1007)ì€ í¬í•¨ë˜ë©°, ì§ì´ ì—†ëŠ” df2ì˜ 1008ì€ ì œì™¸ë©ë‹ˆë‹¤.)
# (df2ì— ì§ì´ ì—†ëŠ” df1ì˜ í–‰ì€ ê¸ˆì•¡ ì—´ì´ NaNìœ¼ë¡œ ì±„ì›Œì§‘ë‹ˆë‹¤.)
print(pd.merge(df1, df2, how='left'))

   ê³ ê°ë²ˆí˜¸   ì´ë¦„       ê¸ˆì•¡
0  1001   ë‘˜ë¦¬  10000.0
1  1001   ë‘˜ë¦¬  20000.0
2  1001   ë‘˜ë¦¬  30000.0
3  1002  ë„ìš°ë„ˆ      NaN
4  1003   ë˜ì¹˜      NaN
5  1004   ê¸¸ë™      NaN
6  1005   í¬ë™  15000.0
7  1006  ë§ˆì´ì½œ   5000.0
8  1007   ì˜í¬      NaN

In [ ]:
# how='right'ëŠ” "df2 (ì˜¤ë¥¸ìª½ í…Œì´ë¸”)"ì˜ ëª¨ë“  'ê³ ê°ë²ˆí˜¸'ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©í•©ë‹ˆë‹¤.
# (df2ì— ìˆëŠ” ëª¨ë“  ê³ ê°(1001, 1005, 1006, 1008)ì€ í¬í•¨ë˜ë©°, ì§ì´ ì—†ëŠ” df1ì˜ ê³ ê°ì€ ì œì™¸ë©ë‹ˆë‹¤.)
# (df1ì— ì§ì´ ì—†ëŠ” df2ì˜ í–‰(1008)ì€ ì´ë¦„ ì—´ì´ NaNìœ¼ë¡œ ì±„ì›Œì§‘ë‹ˆë‹¤.)
print(pd.merge(df1, df2, how='right')) 
# ê²°ê³¼: "ì˜¤ë¥¸ìª½ DataFrame (df2)ì˜ ëª¨ë“  í–‰"ì„ ìœ ì§€í•˜ê³ , ì™¼ìª½ df1ì˜ ì¼ì¹˜í•˜ëŠ” í–‰ì„ ê²°í•©í•©ë‹ˆë‹¤.
# - df2ì˜ 6ê°œ êµ¬ë§¤ ë‚´ì—­ì€ ëª¨ë‘ ë³´ì¡´ë©ë‹ˆë‹¤.
# - df1ì—ë§Œ ìˆëŠ” ê³ ê°(1002, 1003, 1004, 1007)ì€ ì œì™¸ë©ë‹ˆë‹¤.
# - df2ì—ë§Œ ìˆëŠ” ê³ ê° 1008ì˜ 'ì´ë¦„'ì€ NaN(ê²°ì¸¡ì¹˜)ìœ¼ë¡œ ì±„ì›Œì§‘ë‹ˆë‹¤.

   ê³ ê°ë²ˆí˜¸   ì´ë¦„      ê¸ˆì•¡
0  1001   ë‘˜ë¦¬   10000
1  1001   ë‘˜ë¦¬   20000
2  1005   í¬ë™   15000
3  1006  ë§ˆì´ì½œ    5000
4  1008  NaN  100000
5  1001   ë‘˜ë¦¬   30000

In [327]:
print(df2.merge(df1, how='left')) # df2ê°€ ì™¼ìª½ì´ ë˜ë¯€ë¡œ, how='left'ë¥¼ ì‚¬ìš©í•˜ë©´ ìœ„ì™€ ë™ì¼í•œ ê²°ê³¼ê°€ ë‚˜ì˜µë‹ˆë‹¤.
                                  # ì¦‰, df2ì˜ ëª¨ë“  í–‰ì´ ë³´ì¡´ë©ë‹ˆë‹¤.

   ê³ ê°ë²ˆí˜¸      ê¸ˆì•¡   ì´ë¦„
0  1001   10000   ë‘˜ë¦¬
1  1001   20000   ë‘˜ë¦¬
2  1005   15000   í¬ë™
3  1006    5000  ë§ˆì´ì½œ
4  1008  100000  NaN
5  1001   30000   ë‘˜ë¦¬

In [ ]:
# --- 1. ì²« ë²ˆì§¸ DataFrame (df1: í’ˆì¢…ë³„ ê½ƒì ê¸¸ì´ ì •ë³´) ìƒì„± ---

df1 = pd.DataFrame({
    'í’ˆì¢…':['setosa', 'setosa', 'virginica', 'virginica'], # í’ˆì¢… ì—´: setosa 2ê°œ, virginica 2ê°œ
    'ê½ƒìê¸¸ì´':[1.4, 1.3, 1.5, 1.3]  # ê½ƒìê¸¸ì´ ì—´
}, columns=['í’ˆì¢…', 'ê½ƒìê¸¸ì´'])
print(df1) # df1 ì¶œë ¥ (4í–‰ 2ì—´)

          í’ˆì¢…  ê½ƒìê¸¸ì´
0     setosa   1.4
1     setosa   1.3
2  virginica   1.5
3  virginica   1.3

In [ ]:
# --- 2. ë‘ ë²ˆì§¸ DataFrame (df2: í’ˆì¢…ë³„ ê½ƒì ë„ˆë¹„ ì •ë³´) ìƒì„± ---

df2 = pd.DataFrame({
    'í’ˆì¢…': ['setosa', 'virginica', 'virginica', 'ersicolor'], # í’ˆì¢… ì—´: setosa 1ê°œ, virginica 2ê°œ, ersicolor 1ê°œ
    'ê½ƒìë„ˆë¹„':[0.4, 0.3, 0.5, 0.3]  # ê½ƒìë„ˆë¹„ ì—´
}, columns=['í’ˆì¢…', 'ê½ƒìë„ˆë¹„'])
print(df2) # df2 ì¶œë ¥ (4í–‰ 2ì—´)

          í’ˆì¢…  ê½ƒìë„ˆë¹„
0     setosa   0.4
1  virginica   0.3
2  virginica   0.5
3  ersicolor   0.3

In [330]:
# --- 3. ê³µí†µì—´ í™•ì¸ ---

print(df1.head(1)) # df1ì˜ ì²« ë²ˆì§¸ í–‰ ì¶œë ¥
print(df2.head(1)) # df2ì˜ ì²« ë²ˆì§¸ í–‰ ì¶œë ¥
# ë‘ DataFrameì˜ ê³µí†µì—´(í‚¤)ì€ 'í’ˆì¢…'ì…ë‹ˆë‹¤. ì´ ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©ì´ ìˆ˜í–‰ë©ë‹ˆë‹¤.
# (ì°¸ê³ : df1ì˜ 'í’ˆì¢…' ê°œìˆ˜ì™€ df2ì˜ 'í’ˆì¢…' ê°œìˆ˜ê°€ ë‹¤ë¥´ê³ , 'ersicolor'ëŠ” í•œìª½ì—ë§Œ ì¡´ì¬í•©ë‹ˆë‹¤.)

       í’ˆì¢…  ê½ƒìê¸¸ì´
0  setosa   1.4
       í’ˆì¢…  ê½ƒìë„ˆë¹„
0  setosa   0.4

In [ ]:
print(pd.merge(df1, df2)) # pd.merge(df1, df2) í˜¸ì¶œ
# ê²°ê³¼: pd.merge í•¨ìˆ˜ëŠ” ê¸°ë³¸ì ìœ¼ë¡œ "how='inner'" (ë‚´ë¶€ ê²°í•©) ë°©ì‹ìœ¼ë¡œ ë™ì‘í•˜ë©°,
# "ê³µí†µ ì—´('í’ˆì¢…')ì˜ ê°’ì´ ì–‘ìª½ DataFrameì— ëª¨ë‘ ì¡´ì¬í•˜ëŠ” í–‰ë§Œ"ì„ ê¸°ì¤€ìœ¼ë¡œ ê²°í•©í•©ë‹ˆë‹¤.
# - 'í’ˆì¢…' ê°’ì´ 'setosa', 'virginica'ì¸ í–‰ë“¤ë§Œ ê²°í•©ë©ë‹ˆë‹¤.
# - df2ì—ë§Œ ì¡´ì¬í•˜ëŠ” 'ersicolor' í’ˆì¢…ì€ ê²°ê³¼ì—ì„œ ì œì™¸ë©ë‹ˆë‹¤.
# - "ì¹´í…Œì‹œì•ˆ ê³± (Cartesian Product)": ë‘ DataFrameì—ì„œ ì¼ì¹˜í•˜ëŠ” í’ˆì¢…ì´ ìˆì„ ê²½ìš°, ê°ê°ì˜ ëª¨ë“  ì¡°í•©ì„ ê²°í•©í•©ë‹ˆë‹¤.
# * 'setosa' (df1: 2ê°œ, df2: 1ê°œ) -> 2 * 1 = 2í–‰ ê²°í•©
# * 'virginica' (df1: 2ê°œ, df2: 2ê°œ) -> 2 * 2 = 4í–‰ ê²°í•©
# - ìµœì¢…ì ìœ¼ë¡œ 2 + 4 = ì´ 6ê°œì˜ í–‰ì´ ê²°í•©ë©ë‹ˆë‹¤.

          í’ˆì¢…  ê½ƒìê¸¸ì´  ê½ƒìë„ˆë¹„
0     setosa   1.4   0.4
1     setosa   1.3   0.4
2  virginica   1.5   0.3
3  virginica   1.5   0.5
4  virginica   1.3   0.3
5  virginica   1.3   0.5

In [332]:
# --- 1. ì²« ë²ˆì§¸ DataFrame (df1: êµ¬ë§¤ ë°ì´í„°) ìƒì„± ---

df1 = pd.DataFrame({ # ê³ ê°ì˜ ë‚ ì§œë³„ êµ¬ë§¤ ë‚´ì—­ì„ ë‹´ëŠ” DataFrame df1 ìƒì„±
    'ê³ ê°ëª…':['ì¶˜í–¥', 'ì¶˜í–¥', 'ëª½ë£¡'], # 'ì¶˜í–¥' ë°ì´í„°ê°€ ë‘ ë²ˆ ë“±ì¥í•©ë‹ˆë‹¤.
    'ë‚ ì§œ' : ['2018-01-01', '2018-01-02', '2018-01-01'],
    'ë°ì´í„°':[20000, 30000, 100000] # ì´ 'ë°ì´í„°' ì—´ì€ 'ê¸ˆì•¡' ì •ë³´ë¥¼ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.
})
print(df1) # df1 ì¶œë ¥ (3í–‰ 3ì—´)

  ê³ ê°ëª…          ë‚ ì§œ     ë°ì´í„°
0  ì¶˜í–¥  2018-01-01   20000
1  ì¶˜í–¥  2018-01-02   30000
2  ëª½ë£¡  2018-01-01  100000

In [333]:
# --- 2. ë‘ ë²ˆì§¸ DataFrame (df2: ê³ ê° ì„±ë³„ ë°ì´í„°) ìƒì„± ---

df2 = pd.DataFrame({ # ê³ ê°ì˜ ì„±ë³„ ì •ë³´ë¥¼ ë‹´ëŠ” DataFrame df2 ìƒì„±
    'ê³ ê°ëª…':['ì¶˜í–¥', 'ëª½ë£¡'],
    'ë°ì´í„°':['ì—¬ì', 'ë‚¨ì'] # ì´ 'ë°ì´í„°' ì—´ì€ 'ì„±ë³„' ì •ë³´ë¥¼ ë‹´ê³  ìˆìŠµë‹ˆë‹¤.
})
print(df2) # df2 ì¶œë ¥ (2í–‰ 2ì—´)

  ê³ ê°ëª… ë°ì´í„°
0  ì¶˜í–¥  ì—¬ì
1  ëª½ë£¡  ë‚¨ì

In [334]:
# --- 3. ê³µí†µì—´ í™•ì¸ ---

print(df1.head(1)) # df1ì˜ ì²« ë²ˆì§¸ í–‰ ì¶œë ¥
print(df2.head(1)) # df2ì˜ ì²« ë²ˆì§¸ í–‰ ì¶œë ¥
# ë‘ DataFrameì˜ ê³µí†µ ì—´ ì´ë¦„ì€ "'ê³ ê°ëª…'"ê³¼ "'ë°ì´í„°'" ë‘ ê°œì…ë‹ˆë‹¤.

  ê³ ê°ëª…          ë‚ ì§œ    ë°ì´í„°
0  ì¶˜í–¥  2018-01-01  20000
  ê³ ê°ëª… ë°ì´í„°
0  ì¶˜í–¥  ì—¬ì

In [ ]:
print(pd.merge(df1, df2, on='ê³ ê°ëª…'))
# ê²°ê³¼: "how='inner'" (ê¸°ë³¸ê°’) ë°©ì‹ìœ¼ë¡œ ë™ì‘í•˜ë©°, "'ê³ ê°ëª…'" ì—´ë§Œì„ ê¸°ì¤€ìœ¼ë¡œ ê²°í•©í•©ë‹ˆë‹¤.
# - 'ê³ ê°ëª…'ì´ ì–‘ìª½ì— ëª¨ë‘ ì¡´ì¬í•˜ëŠ” 'ì¶˜í–¥', 'ëª½ë£¡'ë§Œ ê²°í•©ë©ë‹ˆë‹¤.
# - df1ì˜ 'ì¶˜í–¥' ë°ì´í„° 2ê°œì™€ df2ì˜ 'ì¶˜í–¥' ë°ì´í„° 1ê°œê°€ ê²°í•©ë˜ì–´ 'ì¶˜í–¥'ì— ëŒ€í•œ í–‰ì´ 2ê°œ ìƒì„±ë©ë‹ˆë‹¤.
# - df1ê³¼ df2ì— ëª¨ë‘ ì¡´ì¬í•˜ëŠ” "'ë°ì´í„°' ì—´"ì€ ì´ë¦„ì´ ê²¹ì¹˜ë¯€ë¡œ,
#  df1ì˜ 'ë°ì´í„°'ëŠ” "ë°ì´í„°_x" (ê¸ˆì•¡ ì •ë³´)ë¡œ, df2ì˜ 'ë°ì´í„°'ëŠ” "ë°ì´í„°_y" (ì„±ë³„ ì •ë³´)ë¡œ ìë™ìœ¼ë¡œ ì´ë¦„ì´ ë³€ê²½ë©ë‹ˆë‹¤.

  ê³ ê°ëª…          ë‚ ì§œ   ë°ì´í„°_x ë°ì´í„°_y
0  ì¶˜í–¥  2018-01-01   20000    ì—¬ì
1  ì¶˜í–¥  2018-01-02   30000    ì—¬ì
2  ëª½ë£¡  2018-01-01  100000    ë‚¨ì

In [ ]:
print(df1.merge(df2, on='ê³ ê°ëª…', how='outer'))
# ê²°ê³¼: "how='outer'" ë°©ì‹ìœ¼ë¡œ ë™ì‘í•˜ì—¬ "'ê³ ê°ëª…'" ê¸°ì¤€ìœ¼ë¡œ ì–‘ìª½ DataFrameì˜ "ëª¨ë“  í–‰"ì„ í¬í•¨í•˜ì—¬ ê²°í•©í•©ë‹ˆë‹¤.
# - ì´ ì˜ˆì‹œì—ì„œëŠ” df1ê³¼ df2ì˜ 'ê³ ê°ëª…'ì´ ëª¨ë‘ ì¼ì¹˜í•˜ë¯€ë¡œ, Inner Joinê³¼ í–‰ ê°œìˆ˜ëŠ” ë™ì¼í•©ë‹ˆë‹¤.
# - ë§Œì•½ í•œìª½ì—ë§Œ ì¡´ì¬í•˜ëŠ” ê³ ê°ì´ ìˆë‹¤ë©´, í•´ë‹¹ ê³ ê°ì˜ í–‰ì´ ì¶”ê°€ë˜ë©° ì¼ì¹˜í•˜ì§€ ì•ŠëŠ” ì—´ì€ NaNìœ¼ë¡œ ì±„ì›Œì§‘ë‹ˆë‹¤.
# - ì—­ì‹œ ê²¹ì¹˜ëŠ” 'ë°ì´í„°' ì—´ì€ "ë°ì´í„°_x"ì™€ "ë°ì´í„°_y"ë¡œ ë¶„ë¦¬ë©ë‹ˆë‹¤.

  ê³ ê°ëª…          ë‚ ì§œ   ë°ì´í„°_x ë°ì´í„°_y
0  ëª½ë£¡  2018-01-01  100000    ë‚¨ì
1  ì¶˜í–¥  2018-01-01   20000    ì—¬ì
2  ì¶˜í–¥  2018-01-02   30000    ì—¬ì

In [ ]:
# --- 1. ì²« ë²ˆì§¸ DataFrame (df1: ì´ë¦„, ì„±ì ) ìƒì„± ---

df1 = pd.DataFrame({ # ì´ë¦„ê³¼ ì„±ì  ì •ë³´ë¥¼ ë‹´ëŠ” DataFrame df1 ìƒì„±
    'ì´ë¦„' :['ì˜í¬', 'ì² ìˆ˜', 'ì² ìˆ˜'], # 'ì² ìˆ˜'ê°€ ë‘ ë²ˆ ë“±ì¥í•©ë‹ˆë‹¤.
    'ì„±ì ' :[90, 80, 80]            # 'ì„±ì ' ì •ë³´
})
df1

   ì´ë¦„  ì„±ì
0  ì˜í¬  90
1  ì² ìˆ˜  80
2  ì² ìˆ˜  80

In [359]:
# --- 2. ë‘ ë²ˆì§¸ DataFrame (df2: ì„±ëª…, ì„±ì 2) ìƒì„± ---

df2 = pd.DataFrame({ # ì„±ëª…ê³¼ ì„±ì 2 ì •ë³´ë¥¼ ë‹´ëŠ” DataFrame df2 ìƒì„±
    'ì„±ëª…' :['ì˜í¬', 'ì˜í¬', 'ì² ìˆ˜'], # 'ì˜í¬'ê°€ ë‘ ë²ˆ ë“±ì¥í•©ë‹ˆë‹¤.
    'ì„±ì 2':[100, 80, 90]          # 'ì„±ì 2' ì •ë³´
})
df2

   ì„±ëª…  ì„±ì 2
0  ì˜í¬  100
1  ì˜í¬   80
2  ì² ìˆ˜   90

In [339]:
df1.head(1) # df1ì˜ ì²« ë²ˆì§¸ í–‰ì„ ì¶œë ¥í•©ë‹ˆë‹¤.
df2.head(1) # df2ì˜ ì²« ë²ˆì§¸ í–‰ì„ ì¶œë ¥í•©ë‹ˆë‹¤.
# í™•ì¸: df1ì˜ í‚¤ëŠ” 'ì´ë¦„', df2ì˜ í‚¤ëŠ” 'ì„±ëª…'ìœ¼ë¡œ ì´ë¦„ì´ ë‹¤ë¦…ë‹ˆë‹¤.

   ì´ë¦„  ì„±ì
0  ì˜í¬  90

   ì„±ëª…  ì„±ì 2
0  ì˜í¬  100

In [ ]:
print(pd.merge(df1, df2, # ë³‘í•©í•  ë‘ DataFrame
               left_on='ì´ë¦„',  # "ì™¼ìª½ DataFrame (df1)"ì—ì„œ ë³‘í•© ê¸°ì¤€ìœ¼ë¡œ ì‚¬ìš©í•  ì—´ ì´ë¦„ì„ "'ì´ë¦„'"ìœ¼ë¡œ ì§€ì •í•©ë‹ˆë‹¤.
               right_on='ì„±ëª…')) # "ì˜¤ë¥¸ìª½ DataFrame (df2)"ì—ì„œ ë³‘í•© ê¸°ì¤€ìœ¼ë¡œ ì‚¬ìš©í•  ì—´ ì´ë¦„ì„ "'ì„±ëª…'"ìœ¼ë¡œ ì§€ì •í•©ë‹ˆë‹¤.
# ê²°ê³¼: how='inner'ê°€ ê¸°ë³¸ê°’ìœ¼ë¡œ ì ìš©ë˜ì–´, 'ì´ë¦„'ê³¼ 'ì„±ëª…' ê°’ì´ ì¼ì¹˜í•˜ëŠ” í–‰ë“¤ë§Œ ê²°í•©í•©ë‹ˆë‹¤.
# - 'ì˜í¬' (df1: 1ê°œ, df2: 2ê°œ) -> 1 * 2 = 2í–‰ ê²°í•©
# - 'ì² ìˆ˜' (df1: 2ê°œ, df2: 1ê°œ) -> 2 * 1 = 2í–‰ ê²°í•©
# - ìµœì¢…ì ìœ¼ë¡œ 2 + 2 = ì´ 4ê°œì˜ í–‰ì´ ê²°í•© ê²°ê³¼ë¡œ ë‚˜ì˜¤ë©°,
# - ë³‘í•© ê¸°ì¤€ì´ ëœ 'ì´ë¦„'ê³¼ 'ì„±ëª…' ë‘ ì—´ì€ ê²°ê³¼ DataFrameì— "ëª¨ë‘ ë³´ì¡´ë©ë‹ˆë‹¤".

   ì´ë¦„  ì„±ì   ì„±ëª…  ì„±ì 2
0  ì˜í¬  90  ì˜í¬  100
1  ì˜í¬  90  ì˜í¬   80
2  ì² ìˆ˜  80  ì² ìˆ˜   90
3  ì² ìˆ˜  80  ì² ìˆ˜   90

In [ ]:
# --- 1. ì²« ë²ˆì§¸ DataFrame (df1: ì¼ë°˜ Column ê¸°ë°˜) ìƒì„± ---

df1 = pd.DataFrame({ # ì¼ë°˜ ì—´(Column)ì„ ê°€ì§„ DataFrame df1 ìƒì„± (ë„ì‹œ ì¸êµ¬ ë°ì´í„°)
    'ë„ì‹œ': ['ì„œìš¸', 'ì„œìš¸', 'ì„œìš¸', 'ë¶€ì‚°', 'ë¶€ì‚°'],
    'ì—°ë„': [2000, 2005, 2010, 2000, 2005],
    'ì¸êµ¬':[9853972, 9762546, 9631482, 3655437, 3512547]
})
print(df1) # df1 ì¶œë ¥ (5í–‰ 3ì—´)

   ë„ì‹œ    ì—°ë„       ì¸êµ¬
0  ì„œìš¸  2000  9853972
1  ì„œìš¸  2005  9762546
2  ì„œìš¸  2010  9631482
3  ë¶€ì‚°  2000  3655437
4  ë¶€ì‚°  2005  3512547

In [ ]:
# --- 2. ë‘ ë²ˆì§¸ DataFrame (df2: MultiIndex ê¸°ë°˜) ìƒì„± ---

df2=pd.DataFrame(
    np.arange(12).reshape((6,2)), # 0ë¶€í„° 11ê¹Œì§€ì˜ ìˆ«ìë¥¼ 6í–‰ 2ì—´ë¡œ ë°°ì—´ ìƒì„±
    index=[['ë¶€ì‚°', 'ë¶€ì‚°', 'ì„œìš¸', 'ì„œìš¸', 'ì„œìš¸', 'ì„œìš¸'], # ì²« ë²ˆì§¸ ë ˆë²¨ ì¸ë±ìŠ¤: ë„ì‹œ (MultiIndex ë ˆë²¨ 0)
           [2000, 2005, 2000, 2005, 2010, 2015]], # ë‘ ë²ˆì§¸ ë ˆë²¨ ì¸ë±ìŠ¤: ì—°ë„ (MultiIndex ë ˆë²¨ 1)
    columns=['ë°ì´í„°1', 'ë°ì´í„°2'] # ì—´ ì´ë¦„
)
print(df2) # df2 ì¶œë ¥ (6í–‰ 2ì—´, MultiIndex)

         ë°ì´í„°1  ë°ì´í„°2
ë¶€ì‚° 2000     0     1
   2005     2     3
ì„œìš¸ 2000     4     5
   2005     6     7
   2010     8     9
   2015    10    11

In [343]:
# --- 3. MultiIndex ê¸°ë°˜ ë°ì´í„° ì ‘ê·¼ í™•ì¸ ---

# df2.loc['ë¶€ì‚°']: ì¸ë±ìŠ¤ ë ˆë²¨ 0ì´ 'ë¶€ì‚°'ì¸ ëª¨ë“  í–‰ì„ ì„ íƒí•©ë‹ˆë‹¤.
# .loc[2000]: ì„ íƒëœ ê²°ê³¼ì—ì„œ ë‹¤ì‹œ ì¸ë±ìŠ¤ ë ˆë²¨ 1ì´ 2000ì¸ í–‰ì„ ì„ íƒí•©ë‹ˆë‹¤.
print(df2.loc['ë¶€ì‚°'].loc[2000]) # df2ì—ì„œ ì¸ë±ìŠ¤ ('ë¶€ì‚°', 2000)ì— í•´ë‹¹í•˜ëŠ” í–‰ì˜ ê°’(Series)ì„ ì¶œë ¥í•©ë‹ˆë‹¤.

# df2ì˜ ì¸ë±ìŠ¤ í™•ì¸
print(df2.index) # df2ì˜ MultiIndex êµ¬ì¡°ë¥¼ ì¶œë ¥í•©ë‹ˆë‹¤.

ë°ì´í„°1    0
ë°ì´í„°2    1
Name: 2000, dtype: int64
MultiIndex([('ë¶€ì‚°', 2000),
            ('ë¶€ì‚°', 2005),
            ('ì„œìš¸', 2000),
            ('ì„œìš¸', 2005),
            ('ì„œìš¸', 2010),
            ('ì„œìš¸', 2015)],
           )

In [ ]:
print(pd.merge(df1, df2,
               left_on=['ë„ì‹œ', 'ì—°ë„'], # "ì™¼ìª½ df1"ì—ì„œ ë³‘í•© í‚¤ë¡œ ì‚¬ìš©í•  "ì—´(Column)"ì˜ ì´ë¦„ì„ ë¦¬ìŠ¤íŠ¸ë¡œ ì§€ì •í•©ë‹ˆë‹¤.
                                         # (ë‘ ê°œì˜ ì¼ë°˜ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì‚¬ìš©)
               right_index=True))     # "ì˜¤ë¥¸ìª½ df2"ì—ì„œ ë³‘í•© í‚¤ë¡œ "í–‰ ì¸ë±ìŠ¤ ì „ì²´"ë¥¼ ì‚¬ìš©í•˜ë„ë¡ ì§€ì •í•©ë‹ˆë‹¤.
                                         # (df2ì˜ MultiIndex ë ˆë²¨ 0('ë„ì‹œ')ê³¼ ë ˆë²¨ 1('ì—°ë„')ì„ ìˆœì„œëŒ€ë¡œ ì‚¬ìš©)
# ê²°ê³¼: how='inner'ê°€ ê¸°ë³¸ê°’ìœ¼ë¡œ ì ìš©ë˜ì–´, df1ì˜ ['ë„ì‹œ', 'ì—°ë„'] ìŒê³¼ df2ì˜ MultiIndex ìŒì´ ëª¨ë‘ ì¼ì¹˜í•˜ëŠ” í–‰ë§Œ ê²°í•©ë©ë‹ˆë‹¤.
#       - df1ì˜ ('ì„œìš¸', 2000), ('ì„œìš¸', 2005), ('ì„œìš¸', 2010), ('ë¶€ì‚°', 2000), ('ë¶€ì‚°', 2005)ê°€ ì¼ì¹˜í•©ë‹ˆë‹¤.
#       - df2ì—ë§Œ ìˆëŠ” ('ì„œìš¸', 2015)ëŠ” ì œì™¸ë©ë‹ˆë‹¤.
#       - ìµœì¢…ì ìœ¼ë¡œ 5í–‰ 5ì—´ì˜ DataFrameì´ ìƒì„±ë©ë‹ˆë‹¤.

   ë„ì‹œ    ì—°ë„       ì¸êµ¬  ë°ì´í„°1  ë°ì´í„°2
0  ì„œìš¸  2000  9853972     4     5
1  ì„œìš¸  2005  9762546     6     7
2  ì„œìš¸  2010  9631482     8     9
3  ë¶€ì‚°  2000  3655437     0     1
4  ë¶€ì‚°  2005  3512547     2     3

In [345]:
print(df1)
print(df2)

   ë„ì‹œ    ì—°ë„       ì¸êµ¬
0  ì„œìš¸  2000  9853972
1  ì„œìš¸  2005  9762546
2  ì„œìš¸  2010  9631482
3  ë¶€ì‚°  2000  3655437
4  ë¶€ì‚°  2005  3512547
         ë°ì´í„°1  ë°ì´í„°2
ë¶€ì‚° 2000     0     1
   2005     2     3
ì„œìš¸ 2000     4     5
   2005     6     7
   2010     8     9
   2015    10    11

In [346]:
# pd.merge(df1,df2,...) í˜¸ì¶œ
print(pd.merge(df1, df2,
               left_index=True,  # "ì™¼ìª½ df1"ì—ì„œ "í–‰ ì¸ë±ìŠ¤(0, 1, 2, 3, 4)"ë¥¼ ë³‘í•© ê¸°ì¤€ìœ¼ë¡œ ì‚¬ìš©í•©ë‹ˆë‹¤.
               right_index=True, # "ì˜¤ë¥¸ìª½ df2"ì—ì„œ "í–‰ ì¸ë±ìŠ¤(MultiIndex)"ë¥¼ ë³‘í•© ê¸°ì¤€ìœ¼ë¡œ ì‚¬ìš©í•©ë‹ˆë‹¤.
               how='outer'))     # "outer join" ë°©ì‹ìœ¼ë¡œ ê²°í•©í•˜ì—¬ ì–‘ìª½ì˜ ëª¨ë“  í–‰ì„ ë³´ì¡´í•©ë‹ˆë‹¤.
# ê²°ê³¼: df1ì˜ ë‹¨ìˆœ ì •ìˆ˜ ì¸ë±ìŠ¤(0, 1, 2, 3, 4)ì™€ df2ì˜ MultiIndexëŠ” ì„œë¡œ ì¼ì¹˜í•˜ëŠ” ê°’ì´ ì—†ìœ¼ë¯€ë¡œ,
# ëª¨ë“  ê°’ì´ NaNìœ¼ë¡œ ì±„ì›Œì§„ ê±°ëŒ€í•œ Sparse DataFrameì´ ìƒì„±ë©ë‹ˆë‹¤.
# "ì£¼ì˜": ì´ ë°©ì‹ì€ ì¸ë±ìŠ¤ì˜ ê°’ê³¼ êµ¬ì¡°ê°€ ì™„ë²½í•˜ê²Œ ë™ì¼í•  ë•Œë§Œ ìœ íš¨í•©ë‹ˆë‹¤.
# ValueError: ê²¹ì¹˜ì§€ ì•ŠëŠ” ì¸ë±ìŠ¤ ì´ë¦„ê³¼ ì¡°ì¸í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.

ValueError: cannot join with no overlapping index names

In [ ]:
print(df1.join(df2, how='outer'))
# ê²°ê³¼: DataFrameì˜ ".join() ë©”ì„œë“œ"ë¥¼ ì‚¬ìš©í•˜ì—¬ ê²°í•©ì„ ì‹œë„í•©ë‹ˆë‹¤.
# df1.join(df2)ëŠ” "df1ì˜ ì¸ë±ìŠ¤"ì™€ "df2ì˜ ì¸ë±ìŠ¤"ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê²°í•©ì„ ì‹œë„í•©ë‹ˆë‹¤.
# (pd.merge(df1, df2, left_index=True, right_index=True)ì™€ ë™ì¼í•œ ê¸°ë³¸ ë™ì‘)
# ì¸ë±ìŠ¤ê°€ ì¼ì¹˜í•˜ì§€ ì•Šìœ¼ë¯€ë¡œ, ë§ˆì°¬ê°€ì§€ë¡œ ëª¨ë“  ê°’ì´ NaNìœ¼ë¡œ ì±„ì›Œì§„ ê²°ê³¼ê°€ ë°˜í™˜ë©ë‹ˆë‹¤.
# "ì£¼ì˜": join()ì€ ì£¼ë¡œ ì¸ë±ìŠ¤ ê¸°ë°˜ ê²°í•©ì— ì‚¬ìš©ë©ë‹ˆë‹¤.

In [ ]:
# --- 1. ì²« ë²ˆì§¸ Series (s1) ìƒì„± ---

s1=pd.Series([0, 1],      # ê°’ì„ [0, 1]ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
             index=['A', 'B']) # ì¸ë±ìŠ¤(ë ˆì´ë¸”)ë¥¼ ['A', 'B']ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
print(s1) # s1 ì¶œë ¥
# ê²°ê³¼:
# A    0
# B    1

A    0
B    1
dtype: int64

In [ ]:
# --- 2. ë‘ ë²ˆì§¸ Series (s2) ìƒì„± ---

s2=pd.Series([2, 3, 4],    # ê°’ì„ [2, 3, 4]ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
             index=['A', 'B', 'C']) # ì¸ë±ìŠ¤(ë ˆì´ë¸”)ë¥¼ ['A', 'B', 'C']ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
print(s2) # s2 ì¶œë ¥
# ê²°ê³¼:
# A    2
# B    3
# C    4

A    2
B    3
C    4
dtype: int64

In [ ]:
print(pd.concat([s1, s2])) # pd.concat() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ s1ê³¼ s2 ë¦¬ìŠ¤íŠ¸ë¥¼ ìˆœì„œëŒ€ë¡œ ì—°ê²°í•©ë‹ˆë‹¤.
# ê²°ê³¼: "ê¸°ë³¸ì ìœ¼ë¡œ axis=0" (í–‰ ë°©í–¥, ì¦‰ ìˆ˜ì§ ë°©í–¥)ìœ¼ë¡œ ì—°ê²°ë©ë‹ˆë‹¤.
# s1ì˜ ëª¨ë“  í–‰(A, B) ë’¤ì— s2ì˜ ëª¨ë“  í–‰(A, B, C)ì´ ê·¸ëŒ€ë¡œ ì´ì–´ ë¶™ì—¬ì§‘ë‹ˆë‹¤.
# - ì¸ë±ìŠ¤ ë ˆì´ë¸”ì€ ë³´ì¡´ë˜ë¯€ë¡œ, ê²°ê³¼ Seriesì—ëŠ” 'A'ì™€ 'B' ë ˆì´ë¸”ì´ ë‘ ë²ˆì”© ì¤‘ë³µë˜ì–´ ë‚˜íƒ€ë‚©ë‹ˆë‹¤.
# - 'A'ê°€ ë‘ ë²ˆ, 'B'ê°€ ë‘ ë²ˆ, 'C'ê°€ í•œ ë²ˆ ë“±ì¥í•˜ëŠ” ì´ 5ê°œì˜ ìš”ì†Œë¡œ ì´ë£¨ì–´ì§„ Seriesê°€ ë©ë‹ˆë‹¤.

A    0
B    1
A    2
B    3
C    4
dtype: int64

In [ ]:
# --- ì²« ë²ˆì§¸ DataFrame (df1) ìƒì„± ---

df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3]) # ì—´: A, B, C, D / ì¸ë±ìŠ¤: 0, 1, 2, 3
print(df1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
# --- ë‘ ë²ˆì§¸ DataFrame (df2) ìƒì„± ---

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'E': ['C4', 'C5', 'C6', 'C7'], # Cì™€ D ëŒ€ì‹  Eì™€ F ì—´ì„ ê°€ì§
    'F': ['D4', 'D5', 'D6', 'D7']},
    index=[0, 1, 2, 3]) # ì—´: A, B, E, F / ì¸ë±ìŠ¤: 0, 1, 2, 3
print(df2)

    A   B   E   F
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [ ]:
# --- ì„¸ ë²ˆì§¸ DataFrame (df3) ìƒì„± ---

df3 = pd.DataFrame({
    'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'O': ['D8', 'D9', 'D10', 'D11']}, # D ëŒ€ì‹  O ì—´ì„ ê°€ì§
    index=[1,2,3,4]) # ì—´: A, B, C, O / ì¸ë±ìŠ¤: 1, 2, 3, 4
print(df3)

     A    B    C    O
1   A8   B8   C8   D8
2   A9   B9   C9   D9
3  A10  B10  C10  D10
4  A11  B11  C11  D11

In [ ]:
# # 1. ê¸°ë³¸ ì—°ê²° (Outer Join, ì¸ë±ìŠ¤ ì¤‘ë³µ)

result = pd.concat([df1, df2, df3]) # ê¸°ë³¸ê°’: axis=0 (ìˆ˜ì§), join='outer' (ì „ì²´ ì—´ ë³´ì¡´), ignore_index=False
print(result)
# ê²°ê³¼: ì„¸ DataFrameì˜ ëª¨ë“  í–‰ì´ ìˆœì„œëŒ€ë¡œ ì—°ê²°ë©ë‹ˆë‹¤.
#       - ì—´: ëª¨ë“  DataFrameì— ì¡´ì¬í•˜ëŠ” ëª¨ë“  ì—´(A, B, C, D, E, F, O)ì´ ë³´ì¡´ë©ë‹ˆë‹¤.
#       - ì—´ì´ ì—†ëŠ” ë¶€ë¶„ì€ NaNìœ¼ë¡œ ì±„ì›Œì§‘ë‹ˆë‹¤.
#       - ì¸ë±ìŠ¤: ì›ë³¸ ì¸ë±ìŠ¤(0, 1, 2, 3, 0, 1, 2, 3, 1, 2, 3, 4)ê°€ ê·¸ëŒ€ë¡œ ìœ ì§€ë˜ì–´ "ì¸ë±ìŠ¤ê°€ ì¤‘ë³µ"ë©ë‹ˆë‹¤.

     A    B    C    D    E    F    O
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN
0   A4   B4  NaN  NaN   C4   D4  NaN
1   A5   B5  NaN  NaN   C5   D5  NaN
2   A6   B6  NaN  NaN   C6   D6  NaN
3   A7   B7  NaN  NaN   C7   D7  NaN
1   A8   B8   C8  NaN  NaN  NaN   D8
2   A9   B9   C9  NaN  NaN  NaN   D9
3  A10  B10  C10  NaN  NaN  NaN  D10
4  A11  B11  C11  NaN  NaN  NaN  D11

In [ ]:
# # 2. MultiIndex ìƒì„± (keys ì‚¬ìš©)

result = pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])
# ì—°ê²°ëœ ê° DataFrameì— ìµœìƒìœ„ ì¸ë±ìŠ¤('x', 'y', 'z')ë¥¼ ë¶€ì—¬í•©ë‹ˆë‹¤.
# ê²°ê³¼ëŠ” 2 ë ˆë²¨ì˜ MultiIndexë¥¼ ê°–ê²Œ ë©ë‹ˆë‹¤. (ìµœìƒìœ„: x, y, z / í•˜ìœ„: ì›ë³¸ ì¸ë±ìŠ¤)

print(result.loc['x'].loc[0, 'A'])
# MultiIndexì—ì„œ 'x' ê·¸ë£¹ì„ ì„ íƒí•˜ê³ , ê·¸ ì•ˆì—ì„œ ì¸ë±ìŠ¤ 0ì˜ 'A' ì—´ ê°’ì„ ì¶œë ¥í•©ë‹ˆë‹¤. ('A0')

A0

In [ ]:
# # 3. Inner Join ì—°ê²° (join='inner')

result = pd.concat([df1, df2, df3], join='inner', keys=['x', 'y', 'z'])
print(result)
# ê²°ê³¼: ì„¸ DataFrameì— "ëª¨ë‘ ì¡´ì¬í•˜ëŠ” ê³µí†µ ì—´"ë§Œì„ ë‚¨ê¸°ê³  ì—°ê²°í•©ë‹ˆë‹¤.
# - df1(A, B, C, D), df2(A, B, E, F), df3(A, B, C, O)ì˜ ê³µí†µ ì—´ì€ "'A'ì™€ 'B'"ë¿ì…ë‹ˆë‹¤.
# - 'A'ì™€ 'B' ì—´ë§Œ ë‚¨ê³ , MultiIndex('x', 'y', 'z')ëŠ” ìœ ì§€ë©ë‹ˆë‹¤.

       A    B
x 0   A0   B0
  1   A1   B1
  2   A2   B2
  3   A3   B3
y 0   A4   B4
  1   A5   B5
  2   A6   B6
  3   A7   B7
z 1   A8   B8
  2   A9   B9
  3  A10  B10
  4  A11  B11

In [ ]:
# # 4. Inner Join ì—°ê²° (keys ì—†ìŒ)

result = pd.concat([df1, df2, df3], join='inner')
print(result)
# ê²°ê³¼: (3ë²ˆê³¼ ë™ì¼í•˜ê²Œ) ê³µí†µ ì—´('A', 'B')ë§Œ ë‚¨ê³  ì—°ê²°ë©ë‹ˆë‹¤.
# - MultiIndexëŠ” ìƒì„±ë˜ì§€ ì•Šê³ , ì›ë³¸ì˜ ì¤‘ë³µ ì¸ë±ìŠ¤(0, 1, 2, 3, 0, 1, 2, 3, 1, 2, 3, 4)ê°€ ê·¸ëŒ€ë¡œ ìœ ì§€ë©ë‹ˆë‹¤.

     A    B
0   A0   B0
1   A1   B1
2   A2   B2
3   A3   B3
0   A4   B4
1   A5   B5
2   A6   B6
3   A7   B7
1   A8   B8
2   A9   B9
3  A10  B10
4  A11  B11

In [ ]:
# # 5. ì¸ë±ìŠ¤ ë¬´ì‹œ (ignore_index=True)

result = pd.concat([df1, df2, df3], join='inner', ignore_index=True)
print(result)
# ê²°ê³¼: (4ë²ˆê³¼ ë™ì¼í•˜ê²Œ) ê³µí†µ ì—´('A', 'B')ë§Œ ë‚¨ìŠµë‹ˆë‹¤.
# - "ignore_index=True"ë¡œ ì¸í•´ ì›ë³¸ì˜ ëª¨ë“  ì¸ë±ìŠ¤ ì •ë³´ê°€ ë¬´ì‹œë˜ê³ ,
# 0ë¶€í„° ì‹œì‘í•˜ëŠ” ìƒˆë¡œìš´ ì •ìˆ˜ ì¸ë±ìŠ¤ê°€ ìˆœì°¨ì ìœ¼ë¡œ ë¶€ì—¬ë©ë‹ˆë‹¤. (0ë¶€í„° 11ê¹Œì§€)

      A    B
0    A0   B0
1    A1   B1
2    A2   B2
3    A3   B3
4    A4   B4
5    A5   B5
6    A6   B6
7    A7   B7
8    A8   B8
9    A9   B9
10  A10  B10
11  A11  B11

In [ ]:
# # 6. MultiIndexë¥¼ ì´ìš©í•œ ë°ì´í„° ì ‘ê·¼

result = pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])
# 2. MultiIndex ìƒì„± ê²°ê³¼ì™€ ë™ì¼í•œ DataFrame
print(result)
# MultiIndexê°€ ë¶€ì—¬ëœ ê²°ê³¼ DataFrameì„ ì¶œë ¥í•©ë‹ˆë‹¤.

       A    B    C    D    E    F    O
x 0   A0   B0   C0   D0  NaN  NaN  NaN
  1   A1   B1   C1   D1  NaN  NaN  NaN
  2   A2   B2   C2   D2  NaN  NaN  NaN
  3   A3   B3   C3   D3  NaN  NaN  NaN
y 0   A4   B4  NaN  NaN   C4   D4  NaN
  1   A5   B5  NaN  NaN   C5   D5  NaN
  2   A6   B6  NaN  NaN   C6   D6  NaN
  3   A7   B7  NaN  NaN   C7   D7  NaN
z 1   A8   B8   C8  NaN  NaN  NaN   D8
  2   A9   B9   C9  NaN  NaN  NaN   D9
  3  A10  B10  C10  NaN  NaN  NaN  D10
  4  A11  B11  C11  NaN  NaN  NaN  D11

In [ ]:
print(result.loc['y'].loc[1]) # ìµœìƒìœ„ ì¸ë±ìŠ¤ 'y' (df2) ê·¸ë£¹ ë‚´ì—ì„œ, í•˜ìœ„ ì¸ë±ìŠ¤ 1ì— í•´ë‹¹í•˜ëŠ” í–‰ì„ ì¶œë ¥í•©ë‹ˆë‹¤.
                              # (ê²°ê³¼: 'A1', 'B1', 'C5', 'D5', NaN, NaN)

A     A5
B     B5
C    NaN
D    NaN
E     C5
F     D5
O    NaN
Name: 1, dtype: object

In [ ]:
print(result.loc['y'].loc[1:2])
# 'y' ê·¸ë£¹ ë‚´ì—ì„œ, í•˜ìœ„ ì¸ë±ìŠ¤ 1ë¶€í„° 2ê¹Œì§€ì˜ í–‰ë“¤ì„ "ìŠ¬ë¼ì´ì‹±"í•˜ì—¬ ì¶œë ¥í•©ë‹ˆë‹¤.

    A   B    C    D   E   F    O
1  A5  B5  NaN  NaN  C5  D5  NaN
2  A6  B6  NaN  NaN  C6  D6  NaN

In [347]:
# --- 1. ì²« ë²ˆì§¸ DataFrame (df1) ìƒì„± ---

df1=pd.DataFrame(
    np.arange(6).reshape(3,2), # 0ë¶€í„° 5ê¹Œì§€ì˜ ìˆ«ìë¥¼ 3í–‰ 2ì—´ë¡œ ë§Œë“­ë‹ˆë‹¤.
    index=['a','b','c'], # í–‰ ì¸ë±ìŠ¤: a, b, c
    columns=['ë°ì´í„°1', 'ë°ì´í„°2'] # ì—´ ì´ë¦„: ë°ì´í„°1, ë°ì´í„°2
)
print(df1)

   ë°ì´í„°1  ë°ì´í„°2
a     0     1
b     2     3
c     4     5

In [348]:
# --- 2. ë‘ ë²ˆì§¸ DataFrame (df2) ìƒì„± ---

df2=pd.DataFrame(
    5+np.arange(4).reshape(2,2), # 5ë¶€í„° 8ê¹Œì§€ì˜ ìˆ«ìë¥¼ 2í–‰ 2ì—´ë¡œ ë§Œë“­ë‹ˆë‹¤. (5, 6, 7, 8)
    index=['a', 'c'],             # í–‰ ì¸ë±ìŠ¤: a, c (df1ì˜ ì¸ë±ìŠ¤ 'b'ê°€ ë¹ ì ¸ìˆìŠµë‹ˆë‹¤.)
    columns=['ë°ì´í„°2', 'ë°ì´í„°4'] # ì—´ ì´ë¦„: ë°ì´í„°2, ë°ì´í„°4 (df1ì˜ 'ë°ì´í„°1'ì´ ë¹ ì ¸ìˆìŠµë‹ˆë‹¤.)
)
print(df2)

   ë°ì´í„°2  ë°ì´í„°4
a     5     6
c     7     8

In [ ]:
# ### ë°ì´í„° ì—°ê²°

In [349]:
# # 1. ìˆ˜í‰ ì—°ê²° (axis=1, Outer Join)

print(pd.concat([df1, df2], axis=1)) # "axis=1"ì„ ì‚¬ìš©í•˜ì—¬ "ìˆ˜í‰ ë°©í–¥(ì—´ ê¸°ì¤€)"ìœ¼ë¡œ ì—°ê²°í•©ë‹ˆë‹¤.
# join='outer'ê°€ ê¸°ë³¸ê°’ì´ë¯€ë¡œ, "ì–‘ìª½ DataFrameì˜ ëª¨ë“  ì¸ë±ìŠ¤"('a', 'b', 'c')ë¥¼ ë³´ì¡´í•©ë‹ˆë‹¤.
# - df1ì—ë§Œ ìˆëŠ” ì¸ë±ìŠ¤ 'b'ì˜ df2 ì—´ì€ NaNìœ¼ë¡œ ì±„ì›Œì§‘ë‹ˆë‹¤.
# - df2ì—ë§Œ ìˆëŠ” ì—´ 'ë°ì´í„°4'ì˜ df1 í–‰ì€ NaNìœ¼ë¡œ ì±„ì›Œì§‘ë‹ˆë‹¤.
# - ê²°ê³¼ ì—´: ë°ì´í„°1, ë°ì´í„°2, ë°ì´í„°2, ë°ì´í„°4 (ì—´ ì´ë¦„ ì¤‘ë³µ ë°œìƒ)

   ë°ì´í„°1  ë°ì´í„°2  ë°ì´í„°2  ë°ì´í„°4
a     0     1   5.0   6.0
b     2     3   NaN   NaN
c     4     5   7.0   8.0

In [350]:
# # 2. ìˆ˜ì§ ì—°ê²° (axis=0, Outer Join)

print(pd.concat([df1, df2], axis=0)) # "axis=0"ì„ ì‚¬ìš©í•˜ì—¬ "ìˆ˜ì§ ë°©í–¥(í–‰ ê¸°ì¤€)"ìœ¼ë¡œ ì—°ê²°í•©ë‹ˆë‹¤.
# join='outer'ê°€ ê¸°ë³¸ê°’ì´ë¯€ë¡œ, "ì–‘ìª½ DataFrameì˜ ëª¨ë“  ì—´"('ë°ì´í„°1', 'ë°ì´í„°2', 'ë°ì´í„°4')ì„ ë³´ì¡´í•©ë‹ˆë‹¤.
# - df1ì˜ 'ë°ì´í„°4'ëŠ” NaNìœ¼ë¡œ, df2ì˜ 'ë°ì´í„°1'ì€ NaNìœ¼ë¡œ ì±„ì›Œì§‘ë‹ˆë‹¤.
# - ì¸ë±ìŠ¤: ì›ë³¸ ì¸ë±ìŠ¤('a', 'b', 'c', 'a', 'c')ê°€ ê·¸ëŒ€ë¡œ ìœ ì§€ë˜ì–´ ì¤‘ë³µë©ë‹ˆë‹¤.

   ë°ì´í„°1  ë°ì´í„°2  ë°ì´í„°4
a   0.0     1   NaN
b   2.0     3   NaN
c   4.0     5   NaN
a   NaN     5   6.0
c   NaN     7   8.0

In [351]:
# # 3. ìˆ˜í‰ ì—°ê²° (axis=1, Inner Join)

print(pd.concat([df1, df2], axis=1, join='inner')) # ìˆ˜í‰ ë°©í–¥ìœ¼ë¡œ ì—°ê²°í•˜ë˜, "join='inner'"ë¥¼ ì§€ì •í•©ë‹ˆë‹¤.
# ê²°ê³¼: "ì–‘ìª½ DataFrameì— ê³µí†µìœ¼ë¡œ ì¡´ì¬í•˜ëŠ” ì¸ë±ìŠ¤"('a', 'c')ë§Œì„ ë‚¨ê¸°ê³  ì—°ê²°í•©ë‹ˆë‹¤.
# - df1ì—ë§Œ ìˆëŠ” ì¸ë±ìŠ¤ 'b'ëŠ” ì œì™¸ë©ë‹ˆë‹¤.
# - ê²°ê³¼ ì—´: ë°ì´í„°1, ë°ì´í„°2, ë°ì´í„°2, ë°ì´í„°4 (ëª¨ë“  ì—´ì€ ë³´ì¡´ë©ë‹ˆë‹¤. join ì˜µì…˜ì€ axisì˜ ë°˜ëŒ€ ì¶•ì— ì˜í–¥ì„ ì¤ë‹ˆë‹¤.)

   ë°ì´í„°1  ë°ì´í„°2  ë°ì´í„°2  ë°ì´í„°4
a     0     1     5     6
c     4     5     7     8

In [352]:
test = pd.concat([df1, df2], axis=1, join='inner') # ê²°ê³¼ë¥¼ 'test'ì— ì €ì¥í•©ë‹ˆë‹¤.
print(test.ë°ì´í„°2)
# 'test' DataFrameì—ì„œ 'ë°ì´í„°2' ì—´ì„ ì¶œë ¥í•©ë‹ˆë‹¤.
# ê²°ê³¼: 'ë°ì´í„°2'ë¼ëŠ” ì´ë¦„ì˜ ì—´ì´ ë‘ ê°œ ìˆê¸° ë•Œë¬¸ì—, "ë‘ ì—´ ëª¨ë‘" í¬í•¨ëœ DataFrameì´ ë°˜í™˜ë©ë‹ˆë‹¤.

   ë°ì´í„°2  ë°ì´í„°2
a     1     5
c     5     7

In [353]:
# # 4. MultiIndexë¥¼ ì´ìš©í•œ ìˆ˜í‰ ì—°ê²° (axis=1, keys ì‚¬ìš©)

test = pd.concat([df1, df2], axis=1, join='inner', keys=['x', 'y'])
# ìˆ˜í‰ ì—°ê²°(inner join)ì„ ìˆ˜í–‰í•˜ê³ ,
# ì—°ê²°ëœ ë‘ DataFrameì— ìµœìƒìœ„ ì¸ë±ìŠ¤('x', 'y')ë¥¼ ë¶€ì—¬í•©ë‹ˆë‹¤.
# ê²°ê³¼ëŠ” "MultiIndex(ë‹¤ì¤‘ ì¸ë±ìŠ¤)" Columnì„ ê°–ê²Œ ë©ë‹ˆë‹¤.
print(test)

     x         y
  ë°ì´í„°1 ë°ì´í„°2 ë°ì´í„°2 ë°ì´í„°4
a    0    1    5    6
c    4    5    7    8

In [354]:
print(test.x)
# MultiIndex Columnì—ì„œ ìµœìƒìœ„ ì¸ë±ìŠ¤ 'x' (df1) ê·¸ë£¹ì— í•´ë‹¹í•˜ëŠ” ëª¨ë“  ì—´ì„ ì¶œë ¥í•©ë‹ˆë‹¤.

   ë°ì´í„°1  ë°ì´í„°2
a     0     1
c     4     5

In [355]:
print(test.x.ë°ì´í„°1)
# 'x' ê·¸ë£¹ ë‚´ì˜ 'ë°ì´í„°1' ì—´ì„ ì„ íƒí•˜ì—¬ Seriesë¡œ ì¶œë ¥í•©ë‹ˆë‹¤.

a    0
c    4
Name: ë°ì´í„°1, dtype: int64

In [ ]:
# --- 1. ì²« ë²ˆì§¸ DataFrame (df1) ìƒì„± ---

df1=pd.DataFrame(
    np.arange(6).reshape(3,2), # 0ë¶€í„° 5ê¹Œì§€ì˜ ìˆ«ìë¥¼ 3í–‰ 2ì—´ë¡œ ë§Œë“­ë‹ˆë‹¤. (0, 1, 2, 3, 4, 5)
    index=['a', 'b', 'c'], # í–‰ ì¸ë±ìŠ¤: a, b, c
    columns=['ë°ì´í„°1', 'ë°ì´í„°2'] # ì—´ ì´ë¦„: ë°ì´í„°1, ë°ì´í„°2
)
print(df1)

   ë°ì´í„°1  ë°ì´í„°2
a     0     1
b     2     3
c     4     5

In [357]:
# --- 2. ë‘ ë²ˆì§¸ DataFrame (df2) ìƒì„± ---

df2 = pd.DataFrame([[5, 4]], # ë°ì´í„°ë¥¼ [5, 4]ë¥¼ í¬í•¨í•˜ëŠ” 1í–‰ìœ¼ë¡œ ìƒì„±í•©ë‹ˆë‹¤.
                   index=['d'], # í–‰ ì¸ë±ìŠ¤: d (df1ì˜ ì¸ë±ìŠ¤ì™€ ê²¹ì¹˜ì§€ ì•ŠìŠµë‹ˆë‹¤.)
                   columns=['ë°ì´í„°1', 'ë°ì´í„°2']) # ì—´ ì´ë¦„: ë°ì´í„°1, ë°ì´í„°2 (df1ì˜ ì—´ ì´ë¦„ê³¼ ë™ì¼í•©ë‹ˆë‹¤.)
print(df2)

   ë°ì´í„°1  ë°ì´í„°2
d     5     4

In [358]:
print(pd.concat([df1, df2])) # pd.concat() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ df1ê³¼ df2ë¥¼ ì—°ê²°í•©ë‹ˆë‹¤.
# "axis=0" (ìˆ˜ì§ ë°©í–¥, í–‰ ê¸°ì¤€)ì´ ê¸°ë³¸ê°’ì´ë¯€ë¡œ, df1ì˜ ëª¨ë“  í–‰ ë’¤ì— df2ì˜ ëª¨ë“  í–‰ì´ ê·¸ëŒ€ë¡œ ì´ì–´ ë¶™ì—¬ì§‘ë‹ˆë‹¤.
# - ì—´ ì´ë¦„ì´ ('ë°ì´í„°1', 'ë°ì´í„°2')ë¡œ ë™ì¼í•˜ë¯€ë¡œ, ê¹”ë”í•˜ê²Œ ì—°ê²°ë©ë‹ˆë‹¤.
# - ì¸ë±ìŠ¤ëŠ” ì›ë³¸ ì¸ë±ìŠ¤('a', 'b', 'c', 'd')ê°€ ê·¸ëŒ€ë¡œ ë³´ì¡´ë©ë‹ˆë‹¤.

   ë°ì´í„°1  ë°ì´í„°2
a     0     1
b     2     3
c     4     5
d     5     4