# pymysql 모듈 이해 및 실습1

In [25]:
import pymysql

In [248]:
# =========================
# 1. DBMS 연결
# =========================
# pymysql 라이브러리를 사용해서 MySQL 서버에 연결
# host="localhost" → 내 컴퓨터(MySQL 서버) 연결
# port=3306 → MySQL 기본 포트
# user="root" → MySQL 로그인 계정
# password='sqlsql123123' → 본인 MySQL 비밀번호
# charset="utf8" → 한글 깨짐 방지
db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password='sqlsql123123',
    charset="utf8"
)

In [249]:
db

In [250]:
# =========================
# 2. 커서(cursor) 가져오기
# =========================
# cursor()는 SQL 구문을 실행할 수 있는 객체, "SQL 실행용 손가락"
cursor = db.cursor()

In [251]:
# =========================
# 3. 데이터베이스 생성
# =========================
# IF NOT EXISTS → 이미 DB가 있으면 새로 만들지 않음
sql = "CREATE DATABASE IF NOT EXISTS ecommerce"
cursor.execute(sql)

1

In [252]:
# =========================
# 4. 현재 존재하는 DB 확인
# =========================
sql = "SHOW DATABASES"
cursor.execute(sql)
result = cursor.fetchall()  # 모든 DB 이름을 가져옴
result  # 출력하면 DB 목록 확인 가능

(('ecommerce',),
 ('employees',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('tabledb',),
 ('world',))

In [253]:
# =========================
# 5. 사용할 DB 선택
# =========================
sql = "USE ecommerce"
cursor.execute(sql)

0

In [254]:
# =========================
# 6. 현재 선택된 DB 확인
# =========================
sql = "SELECT DATABASE()"
cursor.execute(sql)
result = cursor.fetchall()  # 현재 선택된 DB 이름 가져오기
result

(('ecommerce',),)

In [255]:
# =========================
# 7. 커서(cursor) 확인
# =========================
cursor  # 커서 객체 확인 (SQL 실행 가능 상태)

In [256]:
# =========================
# 8. 테이블 생성
# =========================
sql = """
CREATE TABLE IF NOT EXISTS product (
    PRODUCT_CODE VARCHAR(20) NOT NULL,   -- 상품 코드 (기본키)
    TITLE VARCHAR(200) NOT NULL,         -- 상품 이름
    ORI_PRICE INT,                        -- 원래 가격
    DISCOUNT_PRICE INT,                   -- 할인 가격
    DISCOUNT_PERCENT INT,                 -- 할인율(%)
    DELIVERY VARCHAR(2),                  -- 배송 여부 (예: Y/N)
    PRIMARY KEY(PRODUCT_CODE)             -- PRODUCT_CODE가 유일해야 함
);
"""
cursor.execute(sql)

0

In [257]:
# =========================
# 9. 테이블 확인
# =========================
sql = "SHOW TABLES"  # 현재 DB에 존재하는 테이블 목록 확인
cursor.execute(sql)
result = cursor.fetchall()  # 결과 가져오기
result  # 출력하면 테이블 목록 확인 가능

(('product',), ('product2',))

In [258]:
# 연결 종료
db.close()

# 실습2

In [259]:
# ==============================
# MySQL 데이터베이스에 접속하기
# ==============================

# MySQL 서버에 접속하는 코드
# host      : 데이터베이스가 실행 중인 주소 (보통 내 컴퓨터면 localhost)
# port      : MySQL 기본 포트 번호 (3306)
# user      : MySQL 사용자 이름 (root는 기본 관리자 계정)
# password  : MySQL 비밀번호
# database  : 사용할 데이터베이스 이름
# charset   : 한글 깨짐 방지를 위한 문자 인코딩 설정
db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="sqlsql123123",
    database="ecommerce",
    charset="utf8"
)

In [260]:
# SQL 문장을 실행하기 위한 커서(cursor) 생성
cursor = db.cursor()

In [261]:
# ==============================
# 테이블 생성 SQL문 작성
# ==============================

# 여러 줄 문자열로 SQL 문 작성
# IF NOT EXISTS : 테이블이 이미 있으면 새로 만들지 않음
sql = '''
CREATE TABLE IF NOT EXISTS product2 (
    PRODUCT_CODE VARCHAR(20) NOT NULL,   -- 상품 코드 (문자 20자, 필수값)
    TITLE VARCHAR(200) NOT NULL,          -- 상품명 (문자 200자, 필수값)
    ORI_PRICE INT,                        -- 원래 가격
    DISCOUNT_PRICE INT,                   -- 할인된 가격
    DISCOUNT_PERCENT INT,                 -- 할인율 (%)
    DELIVERY VARCHAR(2),                  -- 배송 정보 (예: 무료, 유료)
    PRIMARY KEY(PRODUCT_CODE)             -- PRODUCT_CODE를 기본키로 설정
);
'''

In [262]:
# 작성한 SQL 문을 실행
cursor.execute(sql)

0

In [263]:
# 변경 사항을 데이터베이스에 실제로 저장
db.commit()

In [264]:
# 데이터베이스 연결 종료
db.close()

# 데이터 삽입

In [265]:
# ==============================
# MySQL 데이터베이스에 접속하기
# ==============================

# MySQL 서버에 접속하는 코드
# host      : 데이터베이스가 실행 중인 주소 (보통 내 컴퓨터면 localhost)
# port      : MySQL 기본 포트 번호 (3306)
# user      : MySQL 사용자 이름 (root는 기본 관리자 계정)
# password  : MySQL 비밀번호
# database  : 사용할 데이터베이스 이름
# charset   : 한글 깨짐 방지를 위한 문자 인코딩 설정
db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="sqlsql123123",
    database="ecommerce",
    charset="utf8"
)

In [266]:
# SQL 문장을 실행하기 위한 커서(cursor) 생성
cursor = db.cursor()

In [267]:
# 0부터 9까지 총 10번 반복하는 반복문
for index in range(10):

    # 상품 코드를 만들기 위한 숫자 계산
    # 기본 숫자 216573150에
    # index(0~9)와 1을 더해서 서로 다른 상품 코드 생성
    product_code = 216573150 + index + 1

    # 데이터베이스에 데이터를 추가하기 위한 SQL INSERT 문 작성
    # product_code는 숫자이므로 문자열(str)로 변환해서 SQL에 연결
    sql = """INSERT INTO product2 VALUES(
    '""" + str(product_code) + """',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',
    23000,
    6900,
    70,
    'F'
    );"""

    # 만들어진 SQL 문이 제대로 생성되었는지 확인하기 위해 출력
    print(sql)

    # SQL 문을 실행하여 product2 테이블에 데이터 삽입
    cursor.execute(sql)

INSERT INTO product2 VALUES(
    '216573151',
    '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔',
    23000,
    6900,
    70,
    'F'
    );

IntegrityError: (1062, "Duplicate entry '216573151' for key 'product2.PRIMARY'")

In [ ]:
# 변경 사항을 데이터베이스에 실제로 저장
db.commit()

In [ ]:
# 데이터베이스 연결 종료
db.close()

# 데이터 조회

In [ ]:
# ==============================
# MySQL 데이터베이스에 접속하기
# ==============================

# MySQL 서버에 접속하는 코드
# host      : 데이터베이스가 실행 중인 주소 (보통 내 컴퓨터면 localhost)
# port      : MySQL 기본 포트 번호 (3306)
# user      : MySQL 사용자 이름 (root는 기본 관리자 계정)
# password  : MySQL 비밀번호
# database  : 사용할 데이터베이스 이름
# charset   : 한글 깨짐 방지를 위한 문자 인코딩 설정
db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="sqlsql123123",
    database="ecommerce",
    charset="utf8"
)

In [ ]:
# SQL 문장을 실행하기 위한 커서(cursor) 생성
cursor = db.cursor()

In [ ]:
# product2 테이블에 있는 모든 데이터를 조회하는 SQL문
sql = "SELECT * FROM product2"

# SQL문을 실행해서 데이터베이스에 요청
cursor.execute(sql)

10

In [ ]:
# =====================================
# 데이터 1개만 가져오기
# =====================================

# fetchone()
# - 현재 커서(cursor)가 가리키는 위치에서
# - 다음 레코드(행) 1개를 가져옴
# - 실행 후 커서는 다음 위치로 이동함
result = cursor.fetchone()

# 가져온 데이터(한 행)를 확인
result

('216573151', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [ ]:
# =====================================
# 데이터 여러 개(전체) 가져오기
# =====================================

# fetchall()
# - 현재 커서 위치부터
# - 남아있는 모든 레코드를 한 번에 가져옴
# - 결과는 튜플(tuple)들의 리스트 형태
result = cursor.fetchall()

# 가져온 모든 데이터 확인
result

(('216573152', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573153', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573154', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573155', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573156', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573157', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573158', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573159', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'),
 ('216573160', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [ ]:
# 데이터베이스 연결 종료
db.close()

# 데이터 수정

In [ ]:
# 수정할 내용
# 216573151
# 하늘하늘 원피스 썸머 스페셜 가디건
# 33,000원
# 9,900원
# 70
# 수정할 내용을 담은 쿼리문
# UPDATE product SET
# TITLE='하늘하늘 원피스 썸머 스페셜 가디건',
# ORI_PRICE=33000,
# DISCOUNT_PRICE=9900,
# DISCOUNT_PERCENT=70
# WHERE PRODUCT_CODE='216573151'

In [13]:
# ==============================
# MySQL 데이터베이스에 접속하기
# ==============================

# MySQL 서버에 접속하는 코드
# host      : 데이터베이스가 실행 중인 주소 (보통 내 컴퓨터면 localhost)
# port      : MySQL 기본 포트 번호 (3306)
# user      : MySQL 사용자 이름 (root는 기본 관리자 계정)
# password  : MySQL 비밀번호
# database  : 사용할 데이터베이스 이름
# charset   : 한글 깨짐 방지를 위한 문자 인코딩 설정
db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="sqlsql123123",
    database="ecommerce",
    charset="utf8"
)

In [14]:
# SQL 문장을 실행하기 위한 커서(cursor) 생성
cursor = db.cursor()

In [15]:
# ==============================
# SQL UPDATE 구문 만들기
# ==============================

# product2 테이블에서 특정 상품의 정보를 수정하는 SQL문
# PRODUCT_CODE가 '216573151'인 상품만 수정됨
sql = """ 
UPDATE product2 SET 
    TITLE='하늘하늘 원피스 썸머 스페셜 가디건',  -- 상품명 수정
    ORI_PRICE=33000,                           -- 원래 가격 수정
    DISCOUNT_PRICE=9900,                       -- 할인 가격 수정
    DISCOUNT_PERCENT=70                        -- 할인율 수정
WHERE PRODUCT_CODE='216573151';                -- 수정 대상 상품 코드
"""

In [16]:
# ==============================
# SQL 구문 실행하기
# ==============================

# 위에서 작성한 UPDATE SQL문 실행
cursor.execute(sql)

1

In [17]:
# ==============================
# 변경 내용 저장(commit)
# ==============================

# UPDATE 결과를 데이터베이스에 실제로 반영
db.commit()

In [18]:
# ==============================
# UPDATE 결과 확인하기
# ==============================

# 수정된 상품이 제대로 반영되었는지 확인하는 SELECT문
sql = "SELECT * FROM product2 WHERE PRODUCT_CODE='216573151';"

In [19]:
# SELECT SQL 실행
cursor.execute(sql)

1

In [20]:
# 조회된 결과 중 한 행만 가져오기
result = cursor.fetchone()

# 조회 결과 출력
result

('216573151', '하늘하늘 원피스 썸머 스페셜 가디건', 33000, 9900, 70, 'F')

In [21]:
# 모든 작업이 끝났으므로 DB 연결을 닫음
db.close()

# 데이터 삭제

In [22]:
# ==============================
# MySQL 데이터베이스에 접속하기
# ==============================

# MySQL 서버에 접속하는 코드
# host      : 데이터베이스가 실행 중인 주소 (보통 내 컴퓨터면 localhost)
# port      : MySQL 기본 포트 번호 (3306)
# user      : MySQL 사용자 이름 (root는 기본 관리자 계정)
# password  : MySQL 비밀번호
# database  : 사용할 데이터베이스 이름
# charset   : 한글 깨짐 방지를 위한 문자 인코딩 설정
import pymysql
db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="sqlsql123123",
    database="ecommerce",
    charset="utf8"
)

# SQL 문장을 실행하기 위한 커서(cursor) 생성
cursor = db.cursor()

In [23]:
# ==============================
# 특정 데이터 삭제하기 (DELETE)
# ==============================

# product2 테이블에서
# PRODUCT_CODE가 '216573151'인 데이터만 삭제하는 SQL문
# ※ WHERE 조건이 있어서 해당 상품 1개만 삭제됨
sql = "DELETE FROM product2 WHERE product_code = '216573151';"

# 작성한 DELETE SQL문 실행
cursor.execute(sql)

# 삭제 결과를 데이터베이스에 실제로 반영
# commit()을 하지 않으면 삭제가 저장되지 않음
db.commit()

# 모든 작업이 끝났으므로 데이터베이스 연결 종료
db.close()

In [ ]:
# ==============================
# MySQL 데이터베이스에 접속
# ==============================

# MySQL 서버에 연결
# host     : 데이터베이스 주소 (내 컴퓨터 → localhost)
# port     : MySQL 기본 포트 번호
# user     : MySQL 사용자 계정
# password : MySQL 비밀번호
# database : 사용할 데이터베이스 이름
# charset  : 한글 깨짐 방지
db = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="sqlsql123123",
    database="ecommerce",
    charset="utf8"
)

# SQL문을 실행하기 위한 커서(cursor) 생성
cursor = db.cursor()

# ==============================
# 데이터 조회 (SELECT)
# ==============================

# product2 테이블에서
# PRODUCT_CODE가 '216573151'인 데이터만 조회하는 SQL문
sql = "SELECT * FROM product2 WHERE product_code = '216573151';"

# SELECT SQL문 실행
cursor.execute(sql)

# 조회된 결과 중 한 행만 가져오기
# 결과가 없으면 None 반환
result = cursor.fetchone()

# 조회 결과 출력
print(result)

# ==============================
# commit 및 연결 종료
# ==============================

# SELECT문은 데이터 변경이 없어서
# 사실 commit()은 필요 없음 (써도 오류는 없음)
db.commit()

# 데이터베이스 연결 종료
db.close()